body {
	background-color: silver;
	margin: 0;
}

.slides li {
max-height: 800px;
}

.strip {
clear: both;
margin: 0 auto;
width: 100%!important;
margin-bottom: 2%;
}
p {
	color: #000;
	text-transform: uppercase;
	letter-spacing: .25px;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	color: #fff;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

h2 {
	font-size: 1.3em;
	text-transform: uppercase;
	color: #000;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding: 0;
	/*padding-bottom: 10px;*/
	margin:0;
}

h3 {
	font-size: 1.1em;
	text-transform: uppercase;
	color: black;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding: 0;
	margin:0;
}

a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

a:hover {
	color: silver;
}

.tiny-link {
	font-size: .7em;
}

header {
	max-width: 1200px;
	background-color: silver;
}

#content {
	max-width: 1200px;
	background-color: whitesmoke;
	clear:both;
	position: relative;
}

#content-body{
	margin: 4% 6% 4% 6%;
}

#content-body h1{
	font-size: 1.5em;
	text-transform: uppercase;
}

.clear{
clear:both;

}
.promo {
position: relative;
width: 25%;
/* clear: both; */
float: left;
padding-left: 0!important; 

}

.promo:last-child {
padding-right: 0;
}

.flexslider {
margin: 0 0 40px;
position: relative;
zoom: 1;
max-height: 569px!important;
}

li.cat {
position: absolute;
list-style: none;
font-size: 50px;
bottom: 32px;
left: 12%;
background-color: rgba(255,255,255,0.6) ;
padding: 2px;
}

.innercon {
height: 1200px;
width: 852px;
margin: 0 auto;
}


#content-right {
    float: left;
    width: 100%;
}

footer {
	max-width: 1200px;
	/*background-color: #040707;*/
	clear:both;
	margin-top: 5%;
}

img {
	max-width:100%;
	height: auto;
}

hr {
border: 0;
height: 1px;
background: #413e3d;
width: 100%;
/* margin: 0 auto; */
}

.inline {
	display: inline-block;
}

.form-label {
	line-height: 0px;
	padding-top: 15px;
	font-size: 1.1em;
}

.input-field-text {
	width:250px;
	padding-left: 5px;
	height:20px;
}

.input-field-drop {
	width:150px;
	padding-left: 5px;
	height:26px;
}

form {
	color: black;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	line-height: 2;
}

.align-left {
	text-align: left!important;
}

.column-whole {
	width:100%;
	float:left;
	margin: 0 auto;
}

.column-75 {
	width:75%;
	float:left;
	margin: 0 auto;
}

.column-half {
	width:50%;
	float:left;
	margin: 0 auto;
}

.column-25 {
	width:25%;
	float:left;
	margin: 0 auto;
}

/*------------- mini-cart start -------------*/

div#top_cart_item_container {
display: none;
color: black;
background-color: silver;
position: absolute;
right:0;
z-index: 99999999;
margin-top: -1px;
max-width: 500px;
min-width: 320px;
overflow: visible;
padding: 10x 0;
text-align: left;
border: 1px solid #fff;
}

#top_cart_item_container .bagtotal {
	text-align: right;
	float: right;
	padding: 10px 10px 0 0;
}

#top_cart_item_container span {
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

#top_cart_item_container div {
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

#mini-cart-upper {
max-width: 300px;
}

.cart-product {
	clear: both;
	padding: 20px 10px;
}

.productcart {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .25px;
	font-size: .9em;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	/*padding-left: 10px;*/
	display: inline-block;
	float:left;
	text-align: left;
}

.mini-qty {
	width: 60px;
	display: inline-block;
	text-align: left;
}

.mini-price {
	width:140px;
	display: inline-block;
	text-align: left;
	color: #a1a2a2;
}

.topcart_remove {
	
}

#mini-cart-img-box {
	float: left;
	width:15%;
}

#mini-cart-name-box {
	float: left;
	width: 85%;
}

#mini-cart-details-box {
	float: left;
	width: 85%;
}

#mini-cart-sub-box {
	/*float: right;*/
	clear:both;
	padding-top: 15px;
	padding-right: 10px;
}

#details-box-right{
	float:right;
	text-align: right;
	display:inline-block;
}

.topcart_remove{
	color: #fff;
	cursor:pointer;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.topcart_remove:hover{
	color: silver;
}

.fa-times-circle {
	font-size: 20px;
}

.sub-box {
	text-align: right;
	float: right;
}

#mini-checkout {
	max-width: 500px;
	width:100%;
	padding-top: 20px;
}

.mini-checkout-button{
	margin: 0 auto;
	border: 1px solid #fff;
	padding: 15px;
	display: block;
	width: 160px;
	text-align: center;
	background-color: #040707;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
	cursor:pointer;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.mini-checkout-button:hover{
	border: 1px solid #000;
	padding: 15px;
	display: block;
	width: 160px;
	text-align: center;
	background-color: #fff;
	color: #000;
}

/*------------- mini-cart end -------------*/
/*------------- Checkout -------------*/
.address-field-text {
	width:300px;
	padding-left: 5px;
	margin-bottom: 10px;
	height:20px;
	float:left;
}

#address-small-field-box {
	clear: left;
}

.address-field-text-small {
	width:140px;
	padding-left: 5px;
	margin-bottom: 10px;
	margin-right: 7px;
	height:20px;
}

#shipping-info{
	margin:0 auto;
	width: 322px;
}

.qty-field-text {
	width: 25px;
	margin-bottom: 10px;
	height: 20px;
	text-align: center;
}

.checkout-price {
	line-height: 0;
	padding-bottom: 2%;
}

.checkout-product-box {
	float: left;
}

.checkout-img {
	float:left;
	padding-right: 10px;
}

.checkout-product-name {
	float:left;
	width: 320px;
	padding-right: 30px;
}

.qty-box {
	float:left;
	padding-right: 20px;
}

.checkout-x {
	float:left;
	padding-left: 36px;
	margin-top: 32px;
	font-size: 2em;
}

#checkout-button{
	margin: 0 auto;
	margin-top: 8%;
	border: 1px solid #040707;
	padding: 15px;
	font-size: 1.5em;
	display: block;
	width: 280px;
	text-align: center;
	background-color: silver;
	color: #040707;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#checkout-button:hover{
	border: 1px solid #000;
	padding: 15px;
	display: block;
	text-align: center;
	background-color: #fff;
	color: #000;
}

.subtotals {
color: #a1a2a2;
font-size: 1em;
margin-bottom: 11px;
}
/* ------------------ IDs and Classes --------------- */
/* ------------------ Navigation --------------- */
#wrapper {
	max-width: 1200px;
	background-color: white;
	margin: 0 auto;
	position: relative;
}

#login-box {
	float:right;
	text-align: right;
	margin: 1% 0 4px 0;
	width:100%;
}

#login-box a{
	padding-right:5%;
	font-size: .85em;
}

#logo-box {
	float:left;
	clear:right;
	margin-left: 4%;
	margin-bottom: 2%;
}

#nav-box {
float: left;
/* margin-left: 10%; */
margin-top: 4%;
/* width: 100%; */
margin-bottom: 1%;
}
#nav-box ul li {
	display: inline;
	padding: 0 20px;
	font-size: 1.1em;
}

.catsl {
float: left;
margin-left: 1%;
}

#rec{
  clear: both;
  float: left;
width: 100%;
font-size: 25px;
margin-bottom: 2%;
}
.line {
width: 1px;
height: 69px;
background: rgb(63, 63, 63);
float: left;
margin-left: 15px;
}

#mmenu {
    display:none;
}

#mmenu ul{
    display:none;
}

#mmenu li{
    display:none;
}
@media screen and (max-width: 736px) {
    #logo-box {
	float:none;
	clear:right;
	margin-left: 0;
	margin-bottom: 2%;
	padding-top: 4px;
	text-align: center;
	}

    #nav-box {
        display:none
    }

	#mmenu li{
	    display:block;
	}
   	#mmenu {
    clear:both;
	}

	ul#mmenu {
		margin: 0;
		padding: 0;
	}
 
    nav#mobile {
        background-color:#000;
        display:block;
        clear:both;
    }
 
    /*
    Top black bar that holds the toggle button
    */
 
    nav#mobile #toggle-bar {
        line-height:70px;
        height:50px;
    }
 
    /*
    Toggle button #1 ("Menu")
    */
 
    nav#mobile strong a {
        margin-left:30px;
        border:1px solid #444;
        padding:10px;
    }
 
    /*
    Toggle button #2 ("Navicon")
    */
 
    nav#mobile .navicon {
    float: left;
    height: 6px;
    width: 32px;
    border-top: 18px double #FFF;
    border-bottom: 6px solid #FFF;
    font-size:0;
    margin: 10px 0 0 20px;
    }

    nav#mobile .navicon:hover {
    float: left;
    height: 6px;
    width: 32px;
   /* border-top: 18px double #fa5264;;
    border-bottom: 6px solid #fa5264;;*/
    font-size:0;
    margin: 10px 0 0 20px;
}
 
    /*
    The dropdown menu
    */
 
    nav#mobile ul li {
        clear:both;
        list-style:none;
    }
 
    nav#mobile ul li a {
    display:block;
    color: #000;
    background-color:#e8e8e7;
    text-transform:uppercase;
    font-size:1.2em;
    letter-spacing:.2em;
    padding:11px 0;
    text-align: center;
    -o-transition:.1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
    }

    nav#mobile ul li a:hover {
    display:block;
    color: #000;
    background-color:silver;
    text-transform:uppercase;
    letter-spacing:.2em;
    padding:11px 0;
    text-align: center;
}
 
    nav#mobile ul ul {
        font-size:small;
    }
 
    nav#mobile ul ul li {
        margin-left:30px;
    }
 
    nav#mobile ul ul a {
        background-color:#333;
        padding-left:8px;
    }
 
    nav#mobile ul ul a:before {
        content: "2192";
        padding-right:8px;
    }
}

/* ------------------ Footer --------------- */
#footer-box {
	padding-top: 15px;
	margin-top: 2%;
	padding-bottom: 15px;
}

#address-box {
	float:left;
	margin: 0;
	width: 16%;
	text-transform: uppercase;
	margin-left: 4%;
	line-height: 60%;
}

#address-box p {
	color: #a1a2a2;
	font-size: .7em;
	letter-spacing: 2px;
}

#footnav-box {
	float:left;
	margin: 0;
	width: 60%;
	text-align: center;
}

#footnav-box ul li {
	display: inline;
	padding: 0 20px;
}

#social-box {
	float:left;
	margin:0;
	width: 16%;
	margin-right: 4%;
	margin-bottom: 2%;
}

small p {
	text-transform: uppercase;
	clear: left;
	text-align: center;
	color: #a1a2a2;
	font-size: .8em;
	letter-spacing: 2px;
}

/* ------------------ Products Page --------------- */
#sidebar-left{
	float:left;
	width: 25%;
}

#sidebar-left h1{
	margin-left: 10%;
}

#content-right{
	float:left;
	width:75%;
}

.product-box {
	height: 280px;
	width:280px;
	margin: 2px;
	float:left;
	opacity:1;
	-o-transition:.6s;
	-ms-transition:.6s;
	-moz-transition:.6s;
	-webkit-transition:.6s;
	transition:.6s;
}

.bcrumb{

	color:black;
}

.product-box:hover {
	opacity:.7;
}

.product-box a img {
	max-height: 280px;
	max-width:280px;

}

.image-box {
	position:relative;
	margin-top: -99px;
	width: 280px;
	height: 90px;
	background-color:rgba(0,0,0,0.6);
	padding-top: 10px;
/*	padding:5px 0 0 10px;*/
}

#product-title {
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	width: 280px;
	display: block;
	color:white;

}

.image-box a {
	color: #fff;
	top: 100px;
}

.descript {
margin-top: 2%;
margin-bottom: 16%;
}

div#content-whole {
margin-top: 6%;
}
/* -------------- Products Page end------------ */
/* --------------Homepage Products Start ------------*/
#home-products-box {
	padding: 15px 0;
}
#home-product-item-1:first-child {
	padding-right:1.83333333333333%;
	}
#home-product-item-1 {
	float:left;
	width: 49.08333333333333%;
	
}
/*#home-product-item-2 {
	float:left;
	width: 49.08333333333333%;
}*/
/* --------------Homepage Products End ------------*/

/* --------------Home------------*/
.txtslider {
position: absolute;
color: white;
font-size: 47px;
bottom: 3%;
/* left: 46%; */
text-align: center;
text-shadow: -2px 2px #A0A0A0;
width: 100%;
font-family: Josefin Sans, Arial, Helvetica, sans-serif;
}

.flexslider .slides img {
width: 100%;
height: auto!important;
display: block;
}

div#home-product-item-1:first-child {
padding-right: 1.83333333333333%;
}
.addr2 {
float: left;
padding-top: 78px;
font-weight: 600;
min-width: 160px;
max-width: 160px;
}

.addr3 {
float: left;
padding-top: 78px;
font-weight: 600;
display: none;
min-width: 160px;
max-width: 160px;
}

.addr4 {
float: left;
padding-top: 78px;
font-weight: 600;
display: none;
min-width: 160px;
max-width: 160px;
}

.addr5 {
float: left;
padding-top: 78px;
font-weight: 600;
display: none;
min-width: 160px;
max-width: 160px;
}

.addr6 {
float: left;
padding-top: 78px;
font-weight: 600;
display: none;
min-width: 160px;
max-width: 160px;
}

.addr7 {
float: left;
padding-top: 78px;
font-weight: 600;
display: none;
min-width: 160px;
max-width: 160px;
}

#th5sel{

}

#th7sel{
display: none;
}

#lexsel{
display: none;
}

#midesel{
display: none;
}

#midwsel{
display: none;
}

.locat .fa {
margin-right: 6%;
}

#loc p {
min-width: 128px;
}

.sel{

	cursor:pointer;
}

.cont{
max-width:1200px;
width:100%;
background-color:#E8E8E7;
height:auto;
clear:both;
float:left;
position:relative;
margin-bottom: 65px;
}

.cont p{
color:#666666;
margin: 0;
}

#lotion{
float: left;
position: absolute;
left: 38%;
}

.locat{
float: left;
padding-top: 50px;
padding-left: 35px;
text-align: right;
text-transform: uppercase;
font-size: 14px;
font-weight: 600;
line-height: 31px;
}

h7{
font-size: 22px;
text-transform: uppercase;
color: #70645F;
word-spacing: 5px;
letter-spacing: 2px;
}

.addr{
float: left;
padding: 36px;
padding-left: 7%;
padding-top: 54px;
padding-bottom: 50px;
}

.addr2 {
float: left;
padding-top: 78px;
font-weight:600;
}

#line{
width: 1px;
background-color: #000000;
float: left;
height: 138px;
margin: 34px;
margin-top: 53px;

}
 #num1{
 font-size: 56px;
 text-shadow: 1px 1px 1px #666666;
 }
 
 #tag{
 letter-spacing: 2px;
font-size: 31px;
 }
#loc {
float: right;
padding-right: 62px;
}

/*----------- Home --------------*/
/* -------------- Single Product Start ------------ */
.product-h1 {
	display:none;
}

#breadcrumbs {
margin-bottom: 2%;
margin-left: 1%;
padding-top: 1%;
}

#breadcrumbs p{
	display:inline;
	padding: 0 5px;
	font-size: 1.3em;
}

#crumb-1 {
	text-transform: uppercase;
	font-size: 1.3em;
}

#single-product-box {
	float:left;
	margin-left: 4%;
	width: 42.91666666666667%;
}

#single-large-product {
	float: left;
	margin-bottom: 10px;
}

#single-product-thumb-box {
	float: left;
	clear:left;
}

.single-product-thumb-1 {
	width: 32.03883495145631%;
	margin-right: 1.941747572815535%;
	overflow:hidden;
	display:block;
	float:left;
}

.single-product-thumb-2 {
	width: 32.03883495145631%;
	margin-right: 1.941747572815535%;
	overflow:hidden;
	display:block;
	float:left;
}

.single-product-thumb-3 {
	width: 32.03883495145631%;
	overflow:hidden;
	display:block;
	float:left;
}

#product-containter {
	padding:1% 1% 1% 2%;
	width: 50.08333333333333%;
	float:left;
}

.description {
	text-transform: uppercase;
	font-size: 1.2em;
	display:inline-block;
	padding-right: 6%;
	font-weight: normal;
	/*padding-top:2%;*/
}

span#price {
	font-size: 29px;
	color: red;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	display: inline-block;
}

.sub-desciption {
	/*color: red;*/
}

#social-share{
	display:inline-block;
}

.social-button {
	-o-transition:.6s;
	-ms-transition:.6s;
	-moz-transition:.6s;
	-webkit-transition:.6s;
	transition:.6s;
	margin-bottom: -12px;
}

.social-button:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.qty-field-drop {
	width:50px;
	padding-left: 5px;
	height:22px;
	margin-bottom: 5px;
}

#related-product {
	clear: left;
	padding: 1% 4% 0 4%;
	margin: 0 auto;
	max-width:1200px;
}

#related-product p {
	margin-left: 4%;
}

#related-product-box {
	text-align: center;
	padding-top: 2%;
}
.related-product-thumb {
	padding-right:6px;
}

.addcart-button{
	border: 1px solid #fff;
	padding: 15px;
	display: block;
	width: 160px;
	text-align: center;
	background-color: #040707;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
	cursor:pointer;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.addcart-button:hover{
	border: 1px solid #000;
	padding: 15px;
	display: block;
	width: 160px;
	text-align: center;
	background-color: #fff;
	color: #000;
}

/* -------------- Single Product end------------ */
/* -------------- Contact Us Start ------------ */
#contact-name {
	width:250px;
	padding-left: 5px;
	height:20px;
}

#contact-email {
	width:250px;
	padding-left: 5px;
	height:20px;
}

#contact-phone {
	width:250px;
	padding-left: 5px;
	height:20px;
}

#contact-message {
	width:550px;
	height:300px;
	max-width:800px;
	padding-left: 5px;
}

#submit-button {
	display:block;
	border: 1px solid #fff;
	padding: 15px;
	display: block;
	width: 160px;
	margin-top: 15px;
	text-align: center;
	background-color: #040707;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

#submit-button:hover {
	border: 1px solid #000;
	padding: 15px;
	width: 160px;
	text-align: center;
	background-color: #fff;
	color: #000;
}

/* -------------- Contact Us end------------ */
/* -------------- Locations start------------ */
#location-container{
	padding-bottom: 20px;
}

#location-column{
	width: 33.333333333333333%;
	float:left;
	text-align: center;
}

#location-label{
	font-size: 1.5em;
}

.location-address {
	line-height: .5;
}

.location-single {
	padding: 20px 0;
}
/* -------------- Locations end------------ */
/* -------------- Login Start ------------ */

#login-button {
	margin:0 auto;
	display:block;
	border: 1px solid #fff;
	padding: 15px;
	display: block;
	width: 160px;
	margin-top: 15px;
	text-align: center;
	background-color: #040707;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

#login-button:hover {
	border: 1px solid #000;
	padding: 15px;
	width: 160px;
	text-align: center;
	background-color: #fff;
	color: #000;
}

#register-button{
	margin: 0 auto;
	margin-top: 8%;
	border: 1px solid #040707;
	padding: 15px;
	display: block;
	width: 160px;
	text-align: center;
	background-color: silver;
	color: #040707;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#register-button:hover{
	border: 1px solid #000;
	padding: 15px;
	display: block;
	width: 160px;
	text-align: center;
	background-color: #fff;
	color: #000;
}


.column-inner-half {
	text-align: center;
	padding: 5% 0;
}

.column-inner-whole {
	padding: 5% 0;
}

/* -------------- Login end ------------ */
/* -------------- Register start ------------ */
#content-body-checkout {
margin: 4% 10% 4% 10%;
}

#login-button-checkout {
	display:block;
	border: 1px solid #fff;
	padding: 15px;
	display: block;
	width: 160px;
	margin-top: 15px;
	text-align: center;
	background-color: #040707;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

#login-button-checkout:hover {
	border: 1px solid #000;
	padding: 15px;
	width: 160px;
	text-align: center;
	background-color: #fff;
	color: #000;
}

#register-content .row {
	clear:both;
}

#register-content .column {
	float:left;
	padding: 3px 0;
}

#register-content .form-label {
	line-height: 0px;
	font-size: 1em;
	padding-top: 0px;
	width: 160px;
}

#submit-box {
	padding-top: 3%;
	clear: both;
}
/* -------------- Register end ------------ */
/* ------------------ clearfix --------------- */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* ------------------ Media 1061px --------------- */
@media (max-width: 1061px) {
#address-box p {
	font-size: .5em;
}

#lotion{
display:none;
}
}

/* ------------------ Media  835--------------- */
@media (max-width: 835px) {
#social-box {
	clear:left;
	width: 100%;
	text-align: center;
	margin-right: 0;
}

#footnav-box {
	clear: left;
	width: 100%;
}

#address-box {
	float:none;
	width: 100%;
	text-align: center;
	margin-left: 0;
}

#address-box p {
	font-size: .7em;
}
}

/* ------------------ Media 500--------------- */
@media (max-width: 500px) {
#nav-box {
	float:none;
	margin-left: 0;
	margin-top: 3%;
}

#nav-box ul li {
	display: block;
	padding: 5px 0;
	text-align: center;
}
}

@media  (max-width: 991px) {

	li.cat {
position: absolute;
list-style: none;
font-size: 16px!important;
}

.innercon {
height: 1200px;
width: 100%!important;
}
}

@media  (max-width: 651px) {
.promo.col-md-3 {
clear: both!important;
}

.promo {
position: relative;
width: 100%!important;
margin: 0 auto!important;
padding-left: 0!important;
width: 272px!important;
float: inherit!important;
}

#home-products-box {
padding: 0!important;
}
}
@media  (max-width: 343px) {

.txtslider {

font-size: 35px!important;
}

	}


	